<div class="container">
	<div class="panel panel-danger">
		<div class="panel-heading">
	    	<h1><span class="glyphicon glyphicon-stats"></span> Welcome to the Tracker App!</h1>
	    	<h5><span class="glyphicon glyphicon-search"></span> Sign up for an account and search for all your favorite products online!</h5>
	  	</div>
	  	<div class="panel-body">

	  		<h5><span class="glyphicon glyphicon-warning-sign"></span> Create lists of all items you want to price track. Set a "desired price" to get an SMS/email notification if the price drops below the threshold you set!  Get historical pricing on any item you save. </h5><br/>
	  		<h5><span class="glyphicon glyphicon-shopping-cart"></span> Use Cases:</h5>

			<li> Personal Wish List! You really want it, but are still waiting for the price to drop. </li>
			<li> Holiday Shopping! Sort products into lists to track items for your friends and family. </li>
			<li> Insurance Assessment! Keep track of the current value of all your household products. </li>
	  	
	  	</div>
	</div>



	
	
	

</div>