body{
	font-family: 'Roboto Slab', sans-serif;
	border-radius: 0 !important;
}

h4{
	color: #d9534f;
	text-align: left;
}

h5{
	padding:0px 5px 0px 5px;
	font-family: 'Roboto Slab', sans-serif;
	color: #2C3539;
}

.search_results{
	border: solid #E5E4E2 2px;
	border-radius: 5px;
	overflow-y: scroll;
	max-width: 500px;
  	margin:0 auto;
	text-align: center;
}

.search_box{
	max-width: 600px;
  	margin:0 auto;
	text-align: left;
}

#{
	position: inline;
}

.navbar-inverse .navbar-brand {
	color: #d9534f;
}

#navbar_fix{
	border-radius: 0 !important;
}

.my_products{
	border: solid black 2px;
	border-radius: 5px;
}


img{
	border: solid #E5E4E2 2px;
	border-radius: 5px;
	text-align: center;
}

#create_account{
  max-width: 500px;
  border: 5px solid #eee;
  border-radius: 10px; 
  margin-top: 50px;
}

#bot_container{
  max-width: 350px;
  border: 5px solid #eee;
  border-radius: 10px;
  margin-top: 50px; 
}

.scroll{
	max-height: 1000px;
	min-height: 1000px;
	overflow-y: scroll;
  	margin:0 auto;
	text-align: center;
}

#piechart{
	border: solid black 2px;
	border-radius: 5px;
	margin:20px 0px 0px 0px;
/*	margin:0 auto;*/
	width: 500px; 
	height: 392px;
}

#chart_div{
	border: solid black 2px;
	border-radius: 5px;
	margin:20px 0px 0px 0px;
	/*margin:0 auto;*/
	width: 500px; 
	height: 392px;
}